// sass-lint:disable-all
body:not(.bd-hideButton) {
    .wrapper-1Rf91z {
        padding-top: 50px !important;
    }
    .platform-osx .wrapper-1Rf91z {
        margin-top: 25px;
    }

    .wrapper-1Rf91z + [class*='flex'] {
        border-radius: 0 0 0 5px;
    }

    [class*='unreadMentionsIndicatorTop-'] {
        top: 49px;
    }
    .platform-osx [class*='unreadMentionsIndicatorTop-'] {
        top: 50px;
    }
}

// Any layers need to be above the main layer (where the BD button is placed)
[class*='layers-'] > * + * {
    z-index: 900;
}

.bd-settingsWrapper.platform-linux {
    transform: none;
}
